@charset "UTF-8";
@import url('type/Lato.css');

:root {
	--color-mode: "light";
	--color-dark: #212529;
	--color-black: #3F3844;
	--color-shadow: rgba(63, 56, 68, 0.0625);
	--font-body: 'Lato', sans-serif;
	--font-mono: 'Ubuntu Mono', monospace;
	--font-size: 14px;
	--font-size--small: 10px;
	--font-size--extra: 18px;
	--border-style: 3px solid #2733F1;
	--theme-color: #2733F1;
}

@media (prefers-color-scheme:dark) {
	:root {
		--color-mode: "dark";
	}

	:root:not([data-user-color-scheme]) {
		--border-style: 3px solid #89aae6;
		--theme-color: #89aae6;
	}

	.modal-backdrop {
		background-color: inherit;
	}

}

/*************************
 ********* BASIC *********
 *************************/
body {
	font-family: var(--font-body);
	font-size: var(--font-size);
	line-height: 1;
}

small {
	user-select: none;
}

span {
	font-size: .5rem;
	margin-left: 3px;
	user-select: none;
	text-transform: uppercase;
}

::selection {

	/*color: var(--color-white);*/

	/*background: var(--color-black);*/
}

*:focus {
	box-shadow: none !important;
}

/*************************
 ********* MODAL *********
 *************************/
.modal-content {
	border: var(--border-style);
}

.modal-header {
	padding: .1rem 1rem;
	border-bottom: var(--border-style);
	user-select: none;
}

.modal-header h5 {
	font-size: .92rem;
	font-weight: 900;
	user-select: none;
	color: var(--theme-color);
}

.modal-header .mock-buttons {
	position: absolute;
	top: .05rem;
	left: 0;
}

.modal-header .mock-buttons button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: .5rem;
	opacity: 1;
	border-radius: 20px;
	background: #FC605C;
}

.modal-header .mock-buttons button[disabled] {
	background-color: #FCBB40;
}

.modal-header .mock-buttons button[disabled]:last-child {
	background-color: #34C648;
}

.modal-backdrop {
	background-color: #EEE;
}

.modal-header, .modal-footer {
	text-align: center;
	justify-content: space-around;
}

.modal-footer {
	padding: 0.5rem;
}

.modal-footer small {
	font-size: 0.5rem;
	font-weight: 300;
}

/****************************
 ********* MODAL 00 *********
 *********** MENU ***********
 ****************************/
#modal01-Menu {
}

.modal-body {
	padding: 2rem 1rem;
}

.modal-body a.launch-item {
	font-size: .85rem;
	font-weight: 300;
	line-height: 2;
	width: fit-content;
	padding: .2rem .8rem .1rem 1.3rem;
	cursor: pointer;
	text-decoration: none;
	color: var(--theme-color);
	user-select: none;
}

.modal-body a.launch-item:before {
	content: 'Launch ';
}

.modal-body a.launch-item span {
	display: block;
	width: 0;
	height: .2rem;
	margin-top: -.3rem;
	margin-right: -.2rem;
	margin-left: -.1rem;
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	transition: all .6s ease-out;
	border-radius: .1rem;
	background-color: var(--theme-color);
}

.modal-body a.launch-item:hover span {
	width: calc(100% + .3rem);
}

/****************************
 ********* MODAL 01 *********
 ******* SOLID COLOR ********
 ****************************/
#modal02-png .modal-dialog {

	/*max-width: 650px;*/
}

.input {
	margin: 0.5rem;
}

.input:first-child {
	margin-top: 0rem;
}

.input:last-child {
	margin-bottom: 0rem;
}

.input__field {
	font-size: var(--font-size--extra);
	padding: 0.1rem;
	outline: none;
	caret-color: var(--theme-color);
	color: var(--theme-color);
	line-height: 1;
}

.input__label--isao:before {
	height: 5px;/*border-radius: 5px;*/
}

.input__field--isao:focus + .input__label--isao:before {
	background-color: var(--theme-color);
}

.input__field--isao:focus + .input__label--isao:after {
	color: var(--theme-color);
	margin-top: 2px;
	margin-left: 3px;
}

input[type='radio'] {
	font-size: .925rem;
	display: inline-block;
	margin: 0 2px;
	padding: 0 5px 0 4px;
	cursor: pointer;
	appearance: initial;
}

input[type='radio']:first-of-type {
	margin-left: 8px;
}

input[type='radio']:after {
	content: attr(value);
}

input[type='radio']:checked {
	border-bottom: 2px var(--color-black) solid;
}

#saveImg {
	font-size: var(--font-size);
	cursor: pointer;
}

#pngCanvas {
	width: 100%;
	height: 100%;
}

.color-data {
	width: 100%;
	margin: 1em 0;
}

.color-data div {
	display: inline-block;
	vertical-align: middle
}

.color-code span {
	margin-left: 5px;
	color: var(--color-black);
}

/**
 * 一些用来override bootstrap的
 */
@media (min-width:576px) {
	.modal-dialog {

		/*margin: 1.75rem auto;*/
	}

}

/*************************
 ******** IPHONEX ********
 *************************/
@media only screen and (min-width:375px) and (max-width:650px) {
}
