@charset "UTF-8";
@import url('Typekit/Lato.css');

:root {
	--color-dark: #212529;
	--color-mid: #495057;
	--color-light: #CED4DA;
	--color-bright: #F8F9FA;
	--color-black: #3F3844;
	--color-white: #FFFFFF;
	--color-gray: #C3C3C3;
	--color-gray--dark: #888888;
	--color-gray--border: #EAEAEA;
	--color-gray--background: #F7F7F7;
	--color-magenta: #900C3F;
	--color-red: #C70039;
	--color-orange: #FF5733;
	--color-yellow: #FFC300;
	--color-green: #5AE5B8;
	--color-chartreuse: #DAF7A6;
	--color-blue: #00BAAD;
	--color-purple: #581845;
	--color-shadow: rgba(63, 56, 68, 0.0625);
	--font-body: 'Lato', sans-serif;
	--font-mono: 'Ubuntu Mono', monospace;
	--font-size: 14px;
	--font-size--small: 10px;
	--border-style: 3px solid #2733F1;
	--theme-color: #2733F1;
}

body {
	font-family: var(--font-body);
	font-size: var(--font-size);
	line-height: 1;
}

small {
	user-select: none;
	color: var(--color-gray);
}

span {
	font-size: .5rem;
	margin-left: 3px;
	user-select: none;
	text-transform: uppercase;
}

::selection {
	color: var(--color-white);
	background: var(--color-black);
}

*:focus {
	box-shadow: none !important;
}

.modal-content {
	border: var(--border-style);
}

.modal-header {
	padding: .1rem 1rem;
	border-bottom: var(--border-style);
}

.modal-header h5 {
	font-size: .92rem;
	font-weight: 900;
	user-select: none;
	color: var(--theme-color);
}

.modal-header .mock-buttons {
	position: absolute;
	left: 0;
	top: 0.05rem;
}

.modal-header .mock-buttons button {
	width: auto;
	height: auto;
	opacity: 1;
	border-radius: 20px;
	background: #FC605C;
	margin-left: 0.5rem;
	position: relative;
	display: inline-block;
}

.modal-header .mock-buttons button[disabled] {
	background-color: #FCBB40;
}

.modal-header .mock-buttons button[disabled]:last-child {
	background-color: #34C648;
}

.modal-backdrop {
	background-color: #EEE;
}

.modal-header, .modal-footer {
	text-align: center;
	justify-content: space-around;
}

.modal-body {
	padding: 3rem 8rem;
}

.modal-body a.launch-item {
	font-size: 0.85rem;
	font-weight: 300;
	line-height: 2;
	width: fit-content;
	padding: 0.2rem 0.8rem 0.1rem 1.3rem;
	cursor: pointer;
	text-decoration: none;
	color: var(--theme-color);
}

.modal-body a.launch-item:before {
	content: 'Launch ';
}

.modal-body a.launch-item span {
	display: block;
	width: 0;
	height: .15rem;
	margin-top: -0.3rem;
	margin-right: -0.2rem;
	margin-left: -0.1rem;
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	transition: all .6s ease-out;
	border-radius: 1rem;
	background-color: var(--theme-color);
}

.modal-body a.launch-item:hover span {
	width: calc(100% + 0.3rem);
}

@media only screen and (min-width:375px) and (max-width:650px) {
}
